@model IEnumerable<Drag_Drop.Data.Order>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-image: url(https://aromantic.co.uk/cdn/shop/articles/shutterstock_486713719_1000x_1fae8d4b-11a1-4890-a791-8268522a6c69.jpg?v=1654056377);
        background-repeat: no-repeat;
        background-size: cover;
    }

    thead {
        background-color: rgba(255, 255, 255, 0.7);
        color: black;
    }

    tr {
        background-color: rgba(255, 255, 255, 0.7);
        color: black;
    }

    .order {
        display: flex;
        justify-content: center;
    }

        .order input[type=submit] {
            width: 170px;
        }

    #ccount {
        width: 170px;
    }
</style>
<center><h1 style="font-family:'Times New Roman'; background-color:rgba(255, 255, 255, 0.7);">Поръчки</h1></center>

<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Поръчан продукт
            </th>
            <th>
                Поръчано от
            </th>
            <th>
                Количество
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Name)
            </td>
            <td>
               @item.Clients.FirstName @item.Clients.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
                <td>
                    @(item.Products.Price * item.Quantity) лв.
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-primary"asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> 
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Детайли</a> 

                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                }
            
        </tr>
}
    </tbody>
</table>
