@model Drag_Drop.Data.Product

@{
    ViewData["Title"] = "Delete";
}
<style>
    body {
        background-image: url(https://aromantic.co.uk/cdn/shop/articles/shutterstock_486713719_1000x_1fae8d4b-11a1-4890-a791-8268522a6c69.jpg?v=1654056377);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        box-shadow: 3px 3px 3px 1px;
        width: 360px;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: auto;
        margin-right: auto;
        font-family: cursive;
    }

    .col-md-4 {
        width: 400px;
        font-family: cursive;
    }

    .form-control {
        font-family: cursive;
    }

    .HeadingCreate {
        font-family: cursive;
        font-weight: 900;
        color: #79000E;
        text-shadow: 1px 1px black
    }

    .btnSubmit {
        padding: 10px;
        background-color: #79000E;
        border-color: #79000E;
    }

    .AddBtn {
        border-color: #79000E;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        width: 100%;
    }

        .AddBtn a {
            background-color: #79000E;
            border-color: #79000E;
        }

        .AddBtn input[type=submit] {
            background-color: #79000E;
            border-color: #79000E;
        }

        .AddBtn a:hover {
            background-color: #6F2929;
            border-color: #6F2929;
        }

    .BackBtn a:hover {
        background-color: #6F2929;
        border-color: #6F2929;
    }
</style>
    <h1 class="Heading">@Html.DisplayFor(model => model.Name)</h1>
    <center><h3 style="background-color:white; color:black;">Наистина ли искате да изтриете този продукт?</h3></center>
    <div class="ProductDetails">
        <div class="ProductInformation">
            <div class="DetailsImage">
                <img src="@Html.DisplayFor(model => model.PhotoURL)" style="float:left;" />
            </div>
    <dl class="row">
        <dd class = "col-sm-10">
            Каталожен номер: @Html.DisplayFor(model => model.CatalogNumber)
        </dd>
        <dd class = "col-sm-10">
            Име на продукта: @Html.DisplayFor(model => model.Name)
        </dd>
        <dd class = "col-sm-10">
            Съставки: @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dd class = "col-sm-10">
            Странични ефекти: @Html.DisplayFor(model => model.SideEffect)
        </dd>
        <dd class = "col-sm-10">
            Начин на употреба: @Html.DisplayFor(model => model.Usage)
        </dd>
        <dd class = "col-sm-10">
            Брой: @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) лв.
        </dd>
        <dd class = "col-sm-10">
            Регистрирано на: @Html.DisplayFor(model => model.RegisterOn)
        </dd>
        <dd class = "col-sm-10">
            Категория: @Html.DisplayFor(model => model.Categories.Name)
        </dd>
        <dd class = "col-sm-10">
            Вид: @Html.DisplayFor(model => model.TypeProducts.Name)
        </dd>
            @if (User.IsInRole("Admin"))
            {
                <div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="Изтрий" class="btn btn-danger" />
                        <a class="btn btn-primary" asp-action="Index">Назад към продуктите</a>
                    </form>
                </div>
            }
    </dl>
</div>
</div>
