@model Drag_Drop.Data.Product

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-image: url(https://aromantic.co.uk/cdn/shop/articles/shutterstock_486713719_1000x_1fae8d4b-11a1-4890-a791-8268522a6c69.jpg?v=1654056377);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .detailsAdminBtn a:hover {
        background-color: #6F2929;
    }
</style>

<h1 class="ProductInfoDetailed">@Html.DisplayFor(model => model.Name)</h1>

<div class="ProductDetails">
    <div class="ProductInformation">
        <div class="DetailsImage">
            <img src="@Html.DisplayFor(model => model.PhotoURL)" style="width:600px; float:left; margin-right:50px" />
        </div>

        <div class="DetailedProducts" style="background-color: rgba(255, 255, 255, 0.7); color:black;">
    <dl>
        @*<dd class = "InfoDetail">
            @Html.DisplayNameFor(model => model.CatalogNumber)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatalogNumber)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd class = "col-sm-10">а
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SideEffect)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usage)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoURL)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>*@
        <dd class="col-sm-10">
            Съставки: @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dd class="col-sm-10">
            Странични ефекти: @Html.DisplayFor(model => model.SideEffect)
        </dd>
        <dd class = "col-sm-10">
           Цена: @Html.DisplayFor(model => model.Price) лв. 
        </dd>
        @*
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterOn)
                </dd>*@
        <dd class = "InfoDetail">
           Категория: @Html.DisplayFor(model => model.Categories.Name)
        </dd>
        <dd class = "InfoDetail">
            Вид: @Html.DisplayFor(model => model.TypeProducts.Name)
        </dd>
    </dl>
</div>
        @if (User.IsInRole("Admin"))
        {
            <div class="detailsAdminBtn">
                <a asp-action="Edit" asp-route-id="@Model?.ID" type="submit" class="btn btn-primary">Редактирай</a>
            </div>
        }
        else
        {
            <div class="detailsCustomerBtn">
                <form method="get" asp-controller="Orders" asp-action="CreateWithProductId" asp-route-productId="@Model?.ID">
                    <input name="wineId" type="hidden" value="@Model?.ID" />
                    <input name="countP" id="ccountDetails" type="number" value="1" style="color:black; font:bold" />
                    <input id="buyBtnDetails" type="submit" value="Поръчай &#128722;" class="btn btn-primary" />
                </form>
            </div>
        }
