@model IEnumerable<Drag_Drop.Data.Order>

@{
    ViewData["Title"] = "Index";
}
<style>
    thead {
        background-color: #87c6ec;
        color: black;
    }
</style>
<center><h1>Поръчки</h1></center>

<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Поръчан продукт
            </th>
            <th>
                Поръчано от
            </th>
            <th>
                Количество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Name)
            </td>
            <td>
               @item.Clients.FirstName @item.Clients.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-primary"asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> 
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Детайли</a> 

                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                }
            
        </tr>
}
    </tbody>
</table>
